    body {
        background-color: #0b0d17;
        color: white;
        text-align: center;
        font-family: Arial;
}
    img {
        width: 300px;
        border-radius: 10px;
        margin-top: 20px; 
}
    button {
        margin-top: 20px;
        background: #4ea8de;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        color:white;
    }
        button:hover { background: #2c7bbf; }