  body {
    background-color: #0b0d17;
    color: white;
    text-align: center;
    font-family: Arial; 
}
    img {
        width: 300px;
        border-radius: 10px;
        margin-top: 20px;
}

button {
    background: #4ea8de;
    padding: 12px 20px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

button:hover {
    transform: scale(1.07);
    box-shadow: 0 0 15px #4ea8de;
}