body {
    background-color: #0b0d17;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

/* ===========================
   FUNDO DE ESTRELAS
=========================== */
.stars {
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    z-index: -2;
    background: radial-gradient(circle at bottom, #020617, #000);
    overflow: hidden;
}

.star {
    position: absolute;
    background: white;
    border-radius: 50%;
    animation: blink 1.5s infinite ease-in-out alternate;
    filter: drop-shadow(0 0 4px white);
}

@keyframes blink {
    0% { opacity: 0.1; transform: scale(0.8); }
    50% { opacity: 1; transform: scale(1.3); }
    100% { opacity: 0.1; transform: scale(0.8); }
}

img {
            width: 300px; 
            border-radius: 10px; 
            margin-top: 20px; 
}

button {
    background: #4ea8de;
    padding: 12px 20px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

button:hover {
    transform: scale(1.07);
    box-shadow: 0 0 15px #4ea8de;
}