body {
    background-color: #ffffff; /* fundo preto */
    color: #fff;           /* texto branco */
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 36px;
    color: #000000;
}